build/
install/
log/
**/build/
**/install/
**/log/

COLCON_IGNORE
AMENT_IGNORE

**/__pycache__/
*.pyc

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

*~
*.swp
.#*

*.dox
*.wikidoc
